@charset "utf-8";
/* CSS Document */
html{
	background-color: #000;
	font-family: "微软雅黑",serif;
}
#help{
	color:#666;
	position: absolute;
	left: 50px;
	top: 5px;
}
#bb{
	width: 200px;
/*	height: 1000px;*/
	clear: both;
	position: absolute;
	left: 0px;
	top: 100px;
	z-index: 20;
}
#bb .but{
	width: 160px;
	height: 40px;
	margin-top: 2px ;
	background-color: #222;
	border: 1px #666 solid;
}
#bb p{
	font-size: 14px;
	margin-top: 10px;
	margin-left: 8px;
	color:#FFF;
}
#comp{
	margin: 0 auto;
	background-color: #000;
	position: relative;
}
#note{
	width: 400px;
	height: 400px;
	font-size: 18px;
	position: absolute;
	background-color: rgba(240,240,230,.85);
	display: none;
	z-index: 10;
}
#note>*{
	padding: 10px;
}
.line{
	fill: none;
	stroke:#000;
	stroke-width: 1.5px;
}
.circle{
	fill:#000;
	stroke:none;
	stroke-width: 2px;
}
.text{
	font-size: 12px;
	fill:#000;
}
