@charset "utf-8";
/* CSS Document */
html{
	background-color: #000;
	font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";
}

/*loading*/
#loading{
	width: 1600px;
	height: 1600px;
	position: absolute;
}
#loading p{
	font-size: 30px;
	color: #AAA;
	position: absolute;
	top: 0;
	padding-left: 500px;
	padding-top: 200px;
}

/*comp*/
#comp{
	display: none;
	width: 1600px;
	height: 1600px;
	margin: 0 auto;
	clear: both;
	background-color: #000;
	position: relative;
}
#help{
	color:#666;
	position: absolute;
	left: 50px;
	top: 20px;
}
#help a{
	color: #AAA;
}

/*bottonbox*/
#bb{
	display: none;
	width: 200px;
	clear: both;
	position: fixed;
	left: 0px;
	top: 200px;
	z-index: 20;
}
#bb .but{
	width: 160px;
	height: 40px;
	margin-top: 2px ;
	background-color: #222;
	border: 1px #666 solid;
}
#bb .but:hover{
	background-color: #444;
}
#bb p{
	font-size: 14px;
	margin-top: 10px;
	margin-left: 8px;
	color:#FFF;
	pointer-events: none;
}

/*note*/
#note{
	font-size: 16px;
	position: absolute;
	background-color: rgba(240,240,230,.85);
	display: none;
	z-index: 10;
}
#note>*{
	padding: 10px;
}
#note_text{
	height:250px;
	overflow-x: hidden;
	overflow-y: auto;
}
/*svg*/
.line{
	fill: none;
	stroke:#000;
	stroke-width: 1.5px;
}
.circle{
	fill:#000;
	stroke:none;
	stroke-width: 2px;
	cursor: pointer;
}
.text{
	font-size: 12px;
	fill:#000;
	pointer-events: none;
}

/*===*/