@charset "utf-8";
/* CSS Document */
body{
	background-color: #444;
}
#comp{
	margin: 0 auto;
	background-color: #000;
	position: relative;
}
#note{
	padding: 10px;
	font-size: 18px;
	font-family: "微软雅黑","宋体";
	position: absolute;
	width: 400px;
	height: 400px;
	background-color: rgba(255,255,240,.75);
	display: none;
	z-index: 100;
}
.line{
	fill: none;
	stroke:#777;
	stroke-width: 1.5px;
}
.circle{
	fill:#66CCFF;
}
.text{
	font-size: 12px;
	font-family: "微软雅黑","arial";
	fill:#FFF;
}
